
* {
    background: #ecf0f1;
}

form {
    margin: 0 20px;
}

.question {
    text-transform: capitalize;
    font-size: 24px;
}

.option {
    display: inline;
    font-size: 18px;
}

.nameArea {
    display: block;
    width: 100%;
    min-height: 50px;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.nameTitle {
    display: inline-block;
}

.nameClass {
    width: 20%;
    height: 30px;
    font-size: 18px;
    border: none;
    border-bottom: 2px dashed #000;
    outline: none !important;
    padding: 5px 10px;
    background: transparent;
}

.submit {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 50px;
    border: none;
    outline: none !important;
    background: #000000;
    color: #fff;
    border-radius: 50px 0px;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.submit:hover {
    background: #010137;
    cursor: pointer;
}
.allOutput{
    font-size: 48px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    /*font-weight: bold;*/
    color: #1E231E;
    font-family:  system-ui;
    margin-top: 100px;

}
.scoreOut{
    font-size: 60px;
    color: #FF4E00;
    font-weight: bold;
}
.bestScoreOut{
    font-size: 60px;
    color: #00FF00;
    font-weight: bold;
}
.retake{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px 20px;
    background: #FFF8AE;
    transition-duration: .2s;
    transition-timing-function: linear;
    border-radius: 5px;
    border:2px dashed transparent;
    color: #032451;
    margin-top: 50px;
    display: inline-block;
    color: #FF4D4D;
}
.retake:hover{
    color: #FF0000;
    border:2px dashed #FF4D4D;
}
.ttaken{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #575757
}
.clickC{
    color: #FF4D4D !important;
    font-size: 24px;
}
@media (max-width: 500px){
    .submit{
        font-size: 18px;
    }
    .allOutput{
        font-size: 24px;
    }
    .retake{
        margin-top: 50px;
        display: inline-block;
    }
}
@media (max-width: 320px){
    .submit{
        font-size: 12px;
    }
    .allOutput{
        font-size: 16px;
        font-weight: bold;
    }
    .retake{
        margin-top: 50px;
        display: inline-block;
    }
}